# Required environment variables as arguments to this template:
# ============================================================
# - BATCH_IMPORT_DATA_GCS_PATH (e.g. gs://bucket/file.csv)

type: file.csv

sourceOptions:
  path: ${BATCH_IMPORT_DATA_GCS_PATH}

entities:
- entity_1

schema:
  entityIdColumn: entity
  timestampColumn: ts
  fields:
  - name: entity
  - name: ts
  - name: feature_1
    featureId: entity_1.feature_1
  - name: feature_2
    featureId: entity_1.feature_2
  - name: feature_3
    featureId: entity_1.feature_3
  - name: feature_4
    featureId: entity_1.feature_4
