# Required environment variables as arguments to this template:
# ============================================================
# - KAFKA_BROKERS (e.g. gs://bucket/file.csv)
# - KAFKA_TOPICS  (e.g. mytopic)

type: kafka

sourceOptions:
  server: ${KAFKA_BROKERS}
  topics: ${KAFKA_TOPICS}
  discardUnknownFeatures: "true"

entities:
- entity_2

schema:
  entityIdColumn: entity
  timestampColumn: ts
  fields:
  - name: entity
  - name: ts
  - name: feature_1
    featureId: entity_2.feature_1
  - name: feature_2
    featureId: entity_2.feature_2
  - name: feature_3
    featureId: entity_2.feature_3
  - name: feature_4
    featureId: entity_2.feature_4