# keep VERSION on line #2, this is critical to release CI
feast[minimal] == 0.54.0
pyproject_hooks==1.1.0; platform_machine == "ppc64le"
build == 1.3.0; platform_machine == "ppc64le"
Cython == 3.0.8; platform_machine == "ppc64le"
setuptools_scm == 9.2.0; platform_machine == "ppc64le"
numpy == 2.3.3; platform_machine == "ppc64le"
pybind11 == 3.0.1; platform_machine == "ppc64le"
ninja == 1.13.0; platform_machine == "ppc64le"
wheel == 0.45.1; platform_machine == "ppc64le"
urllib3 == 1.26.20; platform_machine == "ppc64le"
conan==1.64.1; platform_machine == "ppc64le"
setuptools==70.0.0; platform_machine == "ppc64le"
bottle==0.12.25; platform_machine == "ppc64le"
certifi==2025.8.3; platform_machine == "ppc64le"
charset-normalizer==3.4.3; platform_machine == "ppc64le"
colorama==0.4.6; platform_machine == "ppc64le"
distro==1.8.0; platform_machine == "ppc64le"
fasteners==0.20; platform_machine == "ppc64le"
idna==3.10; platform_machine == "ppc64le"
Jinja2==3.1.6; platform_machine == "ppc64le"
MarkupSafe==3.0.2; platform_machine == "ppc64le"
node-semver==0.6.1; platform_machine == "ppc64le"
patch-ng==1.17.4; platform_machine == "ppc64le"
pluginbase==1.0.1; platform_machine == "ppc64le"
Pygments==2.19.2; platform_machine == "ppc64le"
PyJWT==2.10.1; platform_machine == "ppc64le"
python-dateutil==2.9.0.post0; platform_machine == "ppc64le"
PyYAML==6.0.2; platform_machine == "ppc64le"
requests==2.32.5; platform_machine == "ppc64le"
six==1.16.0; platform_machine == "ppc64le"
tqdm==4.67.1; platform_machine == "ppc64le"
