prowjob_namespace: prow
pod_namespace: test-pods

in_repo_config:
  enabled:
    "*": true
    
plank:
  job_url_prefix_config:
    "*": https://prow.feast.dev/view/gcs
  pod_pending_timeout: 60m
  report_templates:
    '*': >-
        [Full PR test history](https://prow.feast.dev/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
        [Your PR dashboard](https://prow.feast.dev/pr?query=is:pr+state:open+author:{{with
        index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      timeout: 1h
      grace_period: 15s
      gcs_configuration:
        bucket: gs://feast-prow-artifacts
        path_strategy: explicit
      gcs_credentials_secret: gcs-credentials
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20201112-00537d1bb4
        entrypoint: gcr.io/k8s-prow/entrypoint:v20201112-00537d1bb4
        initupload: gcr.io/k8s-prow/initupload:v20201112-00537d1bb4
        sidecar: gcr.io/k8s-prow/sidecar:v20201112-00537d1bb4

deck:
  tide_update_period: 1s
  spyglass:
    size_limit: 10e+6 # 10MB
    lenses:
    - lens:
        name: metadata
      required_files:
      - started.json|finished.json
    - lens:
        name: buildlog
      required_files:
      - build-log.txt
    - lens:
        name: junit
      required_files:
      - artifacts/.*\.xml

tide:
  queries:
  - repos:
    - feast-dev/feast
    - feast-dev/feast-spark
    labels:
    - lgtm
    - approved
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/invalid-owners-file
    - do-not-merge/work-in-progress
    - needs-rebase
    - needs-kind
  merge_method:
    feast-dev/feast: squash
    feast-dev/feast-spark: squash
  blocker_label: merge-blocker
  squash_label: tide/squash

# presubmits and postsubmits configure ProwJobs:
# https://github.com/kubernetes/test-infra/blob/6571843b1aa7bd6cf577a7a8b9e9971241f424d5/prow/jobs.md

presubmits:
  feast-dev/feast:
  - name: test-core-and-ingestion
    decorate: true
    spec:
      containers:
      - image: maven:3.6-jdk-11
        command: ["infra/scripts/test-core-ingestion.sh"]
        resources:
          requests:
            cpu: "2000m"
            memory: "1536Mi"
    skip_branches:
    - ^v0\.(3|4)-branch$

  - name: test-core-and-ingestion-java-8
    decorate: true
    always_run: true
    spec:
      containers:
        - image: maven:3.6-jdk-8
          command: ["infra/scripts/test-core-ingestion.sh"]
          resources:
            requests:
              cpu: "2000m"
              memory: "1536Mi"
    branches:
    - ^v0\.(3|4)-branch$

  - name: test-serving
    decorate: true
    spec:
      containers:
      - image: maven:3.6-jdk-11
        command: ["infra/scripts/test-serving.sh"]
    skip_branches:
    - ^v0\.(3|4)-branch$

  - name: test-serving-java-8
    decorate: true
    always_run: true
    spec:
      containers:
        - image: maven:3.6-jdk-8
          command: ["infra/scripts/test-serving.sh"]
    branches:
    - ^v0\.(3|4)-branch$

  - name: test-java-sdk
    decorate: true
    spec:
      containers:
      - image: maven:3.6-jdk-11
        command: ["infra/scripts/test-java-sdk.sh"]
    skip_branches:
    - ^v0\.(3|4)-branch$

  - name: test-java-sdk-java-8
    decorate: true
    always_run: true
    spec:
      containers:
        - image: maven:3.6-jdk-8
          command: ["infra/scripts/test-java-sdk.sh"]
    branches:
    - ^v0\.(3|4)-branch$

  - name: test-python-sdk
    decorate: true
    spec:
      containers:
      - image: python:3.7
        command: ["infra/scripts/test-python-sdk.sh"]

  - name: test-telemetry
    decorate: true
    run_if_changed: "sdk/python/.*"
    spec:
      containers:
      - image: python:3.7
        command: ["infra/scripts/test-telemetry.sh"]
        env:
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /etc/gcloud/service-account.json
        volumeMounts:
          - mountPath: /etc/gcloud/service-account.json
            name: service-account
            readOnly: true
            subPath: service-account.json
      volumes:
        - name: service-account
          secret:
            secretName: feast-service-account

  - name: test-golang-sdk
    decorate: true
    spec:
      containers:
      - image: golang:1.13
        command: ["infra/scripts/test-golang-sdk.sh"]

  - name: python-sdk-integration-test
    decorate: true
    always_run: true
    spec:
      containers:
        - image: gcr.io/kf-feast/feast-ci:latest
          command: ["infra/scripts/test-integration.sh"]
          resources:
            requests:
              cpu: "1"
              memory: "3072Mi"
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /etc/gcloud/service-account.json
          volumeMounts:
            - mountPath: /etc/gcloud/service-account.json
              name: service-account
              readOnly: true
              subPath: service-account.json
      volumes:
        - name: service-account
          secret:
            secretName: feast-service-account

postsubmits:
  feast-dev/feast:
  - name: publish-python-sdk
    decorate: true
    spec:
      containers:
      - image: python:3
        command:
        - sh
        - -c
        - |
          make package-protos && make compile-protos-python && infra/scripts/publish-python-sdk.sh \
            --directory-path sdk/python --repository pypi
        volumeMounts:
        - name: pypirc
          mountPath: /root/.pypirc
          subPath: .pypirc
          readOnly: true
      volumes:
      - name: pypirc
        secret:
          secretName: pypirc
    branches:
    # Filter on tags with semantic versioning, prefixed with "v"
    # https://github.com/semver/semver/issues/232
    - ^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$

  - name: publish-java-sdk
    decorate: true
    spec:
      containers:
      - image: maven:3.6-jdk-11
        command:
        - bash
        - -c
        - infra/scripts/publish-java-sdk.sh --revision ${PULL_BASE_REF:1}
        volumeMounts:
        - name: gpg-keys
          mountPath: /etc/gpg
          readOnly: true
        - name: maven-settings
          mountPath: /root/.m2/settings.xml
          subPath: settings.xml
          readOnly: true
      volumes:
      - name: gpg-keys
        secret:
          secretName: gpg-keys
      - name: maven-settings
        secret:
          secretName: maven-settings
    skip_branches:
    # Skip version 0.3 and 0.4
    - ^v0\.(3|4)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$

    branches:
    # Filter on tags with semantic versioning, prefixed with "v".
    - ^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$

  - name: publish-java-8-sdk
    decorate: true
    spec:
      containers:
        - image: maven:3.6-jdk-8
          command:
            - bash
            - -c
            - infra/scripts/publish-java-sdk.sh --revision ${PULL_BASE_REF:1}
          volumeMounts:
            - name: gpg-keys
              mountPath: /etc/gpg
              readOnly: true
            - name: maven-settings
              mountPath: /root/.m2/settings.xml
              subPath: settings.xml
              readOnly: true
      volumes:
        - name: gpg-keys
          secret:
            secretName: gpg-keys
        - name: maven-settings
          secret:
            secretName: maven-settings
    branches:
    # Filter on tags with semantic versioning, prefixed with "v". v0.3 and v0.4 only.
    - ^v0\.(3|4)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$
