# Each line is a file pattern followed by one or more owners.
# https://help.github.com/en/articles/about-code-owners

*           @zhilingc @woop @davidheryanto @khorshuheng @pyalex
/core/      @zhilingc
/ingestion/ @zhilingc
/serving/   @zhilingc
/cli/       @zhilingc
