default_stages: [commit]

repos:
  - repo: local
    hooks:
      - id: format
        name: Format
        stages: [commit]
        language: system
        entry: make format-python
        pass_filenames: false
      - id: lint
        name: Lint
        stages: [commit]
        language: system
        entry: make lint-python
        pass_filenames: false
      - id: template
        name: Build Templates
        stages: [commit]
        language: system
        entry: make build-templates
        pass_filenames: false
