# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

/docs/ @feast-dev/reviewers-and-approvers
/examples/ @feast-dev/reviewers-and-approvers
/go/ @feast-dev/reviewers-and-approvers
/infra/ @feast-dev/reviewers-and-approvers
/java/ @feast-dev/reviewers-and-approvers
/protos/ @feast-dev/reviewers-and-approvers
/sdk/ @feast-dev/reviewers-and-approvers
/ui/ @feast-dev/reviewers-and-approvers

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers

# Offline interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers

# BigQuery
/sdk/python/feast/infra/offline_stores/bigquery.py @sudohainguyen
/sdk/python/feast/infra/offline_stores/bigquery_source.py @sudohainguyen
/sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py @sudohainguyen

# ==== Online Stores ====

# HBase
/sdk/python/feast/infra/online_stores/hbase.py @sudohainguyen
/sdk/python/feast/infra/online_stores/contrib/hbase_online_store     @sudohainguyen

# ==== Batch Materialization Engines ====
