html {
  background: url("assets/feast-icon-white.svg") no-repeat bottom left;
  background-size: 20vh;
}

body.euiTheme--dark html {
  background: url("assets/feast-icon-white.svg") no-repeat bottom left;
  background-size: 20vh;
}
