@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

html {
  background: url("assets/feast-icon-grey.svg") no-repeat -6vh 56vh;
  background-size: 50vh;
  background-attachment: fixed;
}

/* Add dark mode specific styles */
body.euiTheme--dark html {
  background: url("assets/feast-icon-grey.svg") no-repeat -6vh 56vh;
  background-size: 50vh;
  filter: brightness(0.7); /* Darken the background image for dark mode */
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
