# permissions for end users to edit feastfeatureservers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: feastfeatureserver-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: feast-helm-operator
    app.kubernetes.io/part-of: feast-helm-operator
    app.kubernetes.io/managed-by: kustomize
  name: feastfeatureserver-editor-role
rules:
- apiGroups:
  - charts.feast.dev
  resources:
  - feastfeatureservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - charts.feast.dev
  resources:
  - feastfeatureservers/finalizers
  verbs:
  - update
- apiGroups:
  - charts.feast.dev
  resources:
  - feastfeatureservers/status
  verbs:
  - get
  - patch
  - update
