apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "feast.dev/v1alpha1",
          "kind": "FeatureStore",
          "metadata": {
            "name": "sample"
          },
          "spec": {
            "feastProject": "my_project"
          }
        },
        {
          "apiVersion": "feast.dev/v1alpha1",
          "kind": "FeatureStore",
          "metadata": {
            "name": "sample-all-servers"
          },
          "spec": {
            "feastProject": "my_project",
            "services": {
              "offlineStore": {
                "server": {}
              },
              "registry": {
                "local": {
                  "server": {}
                }
              },
              "ui": {}
            }
          }
        }
      ]
    capabilities: Basic Install
    createdAt: "2025-04-08T17:38:22Z"
    operators.operatorframework.io/builder: operator-sdk-v1.38.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  name: feast-operator.v0.48.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: FeatureStore is the Schema for the featurestores API
      displayName: Feature Store
      kind: FeatureStore
      name: featurestores.feast.dev
      version: v1alpha1
  description: Feast (Feature Store) is an open source feature store for machine learning.
  displayName: Feast Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - batch
          resources:
          - cronjobs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps
          - persistentvolumeclaims
          - serviceaccounts
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          - secrets
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - pods/exec
          verbs:
          - create
        - apiGroups:
          - feast.dev
          resources:
          - featurestores
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - feast.dev
          resources:
          - featurestores/finalizers
          verbs:
          - update
        - apiGroups:
          - feast.dev
          resources:
          - featurestores/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          - roles
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: feast-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: feast-operator
          control-plane: controller-manager
        name: feast-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --metrics-bind-address=:8443
                - --leader-elect
                - --health-probe-bind-address=:8081
                command:
                - /manager
                env:
                - name: RELATED_IMAGE_FEATURE_SERVER
                  value: quay.io/feastdev/feature-server:0.48.1
                - name: RELATED_IMAGE_CRON_JOB
                  value: quay.io/openshift/origin-cli:4.17
                image: quay.io/feastdev/feast-operator:0.48.1
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: feast-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: feast-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - feast
  - feature
  - store
  - ai
  links:
  - name: Feast Operator
    url: https://feast.dev/
  maintainers:
  - email: feast-discuss@googlegroups.com
    name: feast-discuss
  maturity: alpha
  provider:
    name: Feast Community
    url: https://lf-aidata.atlassian.net/wiki/spaces/FEAST/
  relatedImages:
  - image: quay.io/feastdev/feature-server:0.48.1
    name: feature-server
  - image: quay.io/openshift/origin-cli:4.17
    name: cron-job
  version: 0.48.1
