<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="trace">
    <Properties>
        <Property name="basePath">/var/log/blackbuck</Property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="JSON_LOG_PATTERN">
            {"time":"%d{yyyy-MM-dd'T'HH:mm:ssXXX}","hostname":"${hostName}","severity":"%p","message":%m}%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <MarkerFilter marker="AUDIT_MARK" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="JSONAppender" target="SYSTEM_OUT" follow="true">
            <MarkerFilter marker="AUDIT_MARK" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${JSON_LOG_PATTERN}"/>
        </Console>
        <RollingFile name="fileLogger"
                     fileName="${basePath}/app.log"
                     filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePathr}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
      <Logger name="feast.common" level="info" additivity="false">
<!--        <AppenderRef ref="ConsoleAppender"/>-->
        <AppenderRef ref="JSONAppender"/>
          <AppenderRef ref="fileLogger"/>
      </Logger>
      <Root level="info">
<!--        <AppenderRef ref="ConsoleAppender"/>-->
        <AppenderRef ref="JSONAppender"/>
          <AppenderRef ref="fileLogger"/>
      </Root>
    </Loggers>
</Configuration>
