cryptography==3.1
flake8
black==19.10b0
isort>=5
grpcio-tools==1.31.0
pyspark==3.0.1
numpy<1.20.0
pandas~=1.0.0
mock==2.0.0
pandavro==1.5.*
moto
mypy==0.790
mypy-protobuf==1.24
avro==1.10.0
gcsfs
urllib3>=1.25.4
google-cloud-dataproc==2.0.2
pytest==6.0.0
pytest-lazy-fixture==0.6.3
pytest-timeout==1.4.2
pytest-ordering==0.6.*
pytest-mock==1.10.4
PyYAML==5.4.*
great-expectations==0.13.2
adlfs==0.5.9
