Click==7.*
google-api-core==1.*
google-auth==1.*
google-cloud-bigquery==1.*
google-cloud-bigquery-storage==0.*
google-cloud-storage==1.*
google-resumable-media>=0.5
googleapis-common-protos==1.*
grpcio==1.*
grpcio-testing==1.*
grpcio-tools
numpy
mock==2.0.0
pandas==0.*
protobuf==3.*
pytest
pytest-lazy-fixture==0.6.3
pytest-mock
pytest-timeout
pytest-ordering==0.6.*
PyYAML==5.1.*
fastavro==0.*
pyarrow
Sphinx
sphinx-rtd-theme
toml==0.10.*
tqdm==4.*
confluent_kafka
google
pandavro==1.5.*
kafka-python==1.*
tabulate==0.8.*
isort
mypy
mypy-protobuf
pre-commit
flake8
black