Click==7.*
google-api-core==1.22.4
google-auth==1.22.1
google-cloud-bigquery==1.18
google-cloud-bigquery-storage==0.7.0
google-cloud-dataproc==2.0.2
google-cloud-storage==1.20.0
google-resumable-media>=0.5
googleapis-common-protos==1.52.0
grpcio==1.31.0
grpcio-testing==1.31.0
grpcio-tools==1.31.0
numpy
mock==2.0.0
pandas~=1.0.0
protobuf==3.*
pytest
pytest-lazy-fixture==0.6.3
pytest-mock
pytest-timeout
pytest-ordering==0.6.*
PyYAML==5.1.*
fastavro==0.*
pyarrow
Sphinx
sphinx-rtd-theme
toml==0.10.*
tqdm==4.*
google
pandavro==1.5.*
kafka-python==2.0.2
tabulate==0.8.*
isort>=5
mypy
mypy-protobuf
pre-commit
flake8
black==19.10b0
boto3
moto
pyspark==2.4.2
pyspark-stubs==2.4.0.post9
