COMPOSE_PROJECT_NAME=feast

FEAST_VERSION=latest

FEAST_CORE_IMAGE=gcr.io/kf-feast/feast-core
FEAST_CORE_CONFIG=direct-runner
FEAST_CORE_GCP_SERVICE_ACCOUNT_KEY=placeholder

FEAST_SERVING_IMAGE=gcr.io/kf-feast/feast-serving
FEAST_ONLINE_SERVING_CONFIG=online-serving
FEAST_ONLINE_STORE_CONFIG=redis-store
FEAST_BATCH_SERVING_CONFIG=batch-serving
FEAST_BATCH_STORE_CONFIG=bq-store
FEAST_BATCH_SERVING_GCP_SERVICE_ACCOUNT_KEY=placeholder
FEAST_JOB_STAGING_LOCATION=gs://your-gcp-project/bucket

FEAST_JUPYTER_IMAGE=gcr.io/kf-feast/feast-jupyter
FEAST_JUPYTER_GCP_SERVICE_ACCOUNT_KEY=placeholder

