feast:
  # This value is retrieved from project.version properties in pom.xml
  # https://docs.spring.io/spring-boot/docs/current/reference/html/
#  version: @project.version@
  # GRPC service address for Feast Core
  # Feast Serving requires connection to Feast Core to retrieve and reload Feast metadata (e.g. FeatureSpecs, Store information)
  core-host: ${FEAST_CORE_HOST:localhost}
  core-grpc-port: ${FEAST_CORE_GRPC_PORT:6565}

  tracing:
    # If true, Feast will provide tracing data (using OpenTracing API) for various RPC method calls
    # which can be useful to debug performance issues and perform benchmarking
    enabled: false
    # Only Jaeger tracer is supported currently
    # https://opentracing.io/docs/supported-tracers/
    tracer-name: jaeger
    # The service name identifier for the tracing data
    service-name: feast_serving

  store:
    # Path containing the store configuration for this serving store.
    config-path: ${FEAST_STORE_CONFIG_PATH:serving/sample_redis_config.yml}
    # If serving redis, the redis pool max size
    redis-pool-max-size: ${FEAST_REDIS_POOL_MAX_SIZE:128}
    # If serving redis, the redis pool max idle conns
    redis-pool-max-idle: ${FEAST_REDIS_POOL_MAX_IDLE:16}
    # If serving cassandra, minimum connection for local host (one in same data center)
    cassandra-pool-core-local-connections: ${FEAST_CASSANDRA_CORE_LOCAL_CONNECTIONS:1}
    # If serving cassandra, maximum connection for local host (one in same data center)
    cassandra-pool-max-local-connections: ${FEAST_CASSANDRA_MAX_LOCAL_CONNECTIONS:1}
    # If serving cassandra, minimum connection for remote host (one in remote data center)
    cassandra-pool-core-remote-connections: ${FEAST_CASSANDRA_CORE_REMOTE_CONNECTIONS:1}
    # If serving cassandra, maximum connection for remote host (one in same data center)
    cassandra-pool-max-remote-connections: ${FEAST_CASSANDRA_MAX_REMOTE_CONNECTIONS:1}
    # If serving cassandra, maximum number of concurrent requests per local connection (one in same data center)
    cassandra-pool-max-requests-local-connection: ${FEAST_CASSANDRA_MAX_REQUESTS_LOCAL_CONNECTION:32768}
    # If serving cassandra, maximum number of concurrent requests per remote connection (one in remote data center)
    cassandra-pool-max-requests-remote-connection: ${FEAST_CASSANDRA_MAX_REQUESTS_REMOTE_CONNECTION:2048}
    # If serving cassandra, number of requests which trigger opening of new local connection (if it is available)
    cassandra-pool-new-local-connection-threshold: ${FEAST_CASSANDRA_NEW_LOCAL_CONNECTION_THRESHOLD:30000}
    # If serving cassandra, number of requests which trigger opening of new remote connection (if it is available)
    cassandra-pool-new-remote-connection-threshold: ${FEAST_CASSANDRA_NEW_REMOTE_CONNECTION_THRESHOLD:400}
    # If serving cassandra, number of milliseconds to wait to acquire connection (after that go to next available host in query plan)
    cassandra-pool-timeout-millis: ${FEAST_CASSANDRA_POOL_TIMEOUT_MILLIS:0}

  jobs:
    # staging-location specifies the URI to store intermediate files for batch serving.
    # Feast Serving client is expected to have read access to this staging location
    # to download the batch features.
    #
    # For example: gs://mybucket/myprefix
    # Please omit the trailing slash in the URI.
    staging-location: ${FEAST_JOB_STAGING_LOCATION:}
    #
    # Retry options for BigQuery jobs:
    bigquery-initial-retry-delay-secs: 1
    bigquery-total-timeout-secs: 21600
    #
    # Type of store to store job metadata. This only needs to be set if the
    # serving store type is Bigquery.
    store-type: ${FEAST_JOB_STORE_TYPE:}
    #
    # Job store connection options. If the job store is redis, the following items are required:
    #
    # store-options:
    #   host: localhost
    #   port: 6379
    # Optionally, you can configure the connection pool with the following items:
    #   max-conn: 8
    #   max-idle: 8
    #   max-wait-millis: 50
    store-options: {}

grpc:
  # The port number Feast Serving GRPC service should listen on
  # It is set default to 6566 so it does not conflict with the GRPC server on Feast Core
  # which defaults to port 6565
  port: ${GRPC_PORT:6566}
  # This allows client to discover GRPC endpoints easily
  # https://github.com/grpc/grpc-java/blob/master/documentation/server-reflection-tutorial.md
  enable-reflection: ${GRPC_ENABLE_REFLECTION:true}

server:
  # The port number on which the Tomcat webserver that serves REST API endpoints should listen
  # It is set by default to 8081 so it does not conflict with Tomcat webserver on Feast Core
  # if both Feast Core and Serving are running on the same machine
  port: ${SERVER_PORT:8081}
