apiVersion: feast.dev/v1alpha1
kind: FeatureStore
metadata:
  name: sample-all-services
spec:
  feastProject: my_project
  services:
    onlineStore: {}
    offlineStore: {}
    registry:
      local: {}
