# The "tls.disable = true" setting will disable the creation of TLS for the Feast services in an OpenShift environment.
apiVersion: feast.dev/v1alpha1
kind: FeatureStore
metadata:
  name: sample-services-tls-disable
spec:
  feastProject: my_project
  services:
    onlineStore:
      server:
        tls:
          disable: true
    offlineStore:
      server:
        tls:
          disable: true
    registry:
      local:
        server:
          tls:
            disable: true
    ui:
      tls:
        disable: true
