apiVersion: feast.dev/v1alpha1
kind: FeatureStore
metadata:
  name: example
  namespace: test
spec:
  feastProject: my_project
  services:
    onlineStore:
      persistence:
        store:
          type: postgres
          secretRef:
            name: postgres-secret
          secretKeyName: postgres-secret-parameters   # optional
    registry:
      local:
        persistence:
          store:
            type: sql
            secretRef:
              name: postgres-secret
            secretKeyName: postgres-secret-parameters   # optional
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
stringData:
  postgres-secret-parameters: |
    path: postgresql://postgres:mysecretpassword@127.0.0.1:55001/feast
    cache_ttl_seconds: 60
    sqlalchemy_config_kwargs:
      echo: false
      pool_pre_ping: true