{{- if .Values.metrics }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: opentelemetry-targetallocator-sa
  namespace: {{ .Values.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: opentelemetry-targetallocator-role-1
  annotations:
    meta.helm.sh/release-name: "feast-release"
    meta.helm.sh/release-namespace: "feast-val"
  labels:
    app.kubernetes.io/managed-by: "Helm"
rules:
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  - podmonitors
  verbs:
  - '*'
- apiGroups: [""]
  resources:
  - namespaces
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - nodes
  - nodes/metrics
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - configmaps
  verbs: ["get"]
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs: ["get", "list", "watch"]
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs: ["get", "list", "watch"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: opentelemetry-targetallocator-rb-1
  annotations:
    meta.helm.sh/release-name: "feast-release"
    meta.helm.sh/release-namespace: "feast-val"
  labels:
    app.kubernetes.io/managed-by: "Helm"
subjects:
  - kind: ServiceAccount
    name: opentelemetry-targetallocator-sa
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: opentelemetry-targetallocator-role-1
  apiGroup: rbac.authorization.k8s.io
{{- end }}   