apiVersion: v1
kind: Service
metadata:
  name: {{ include "feast-feature-server.fullname" . }}
  labels:
    {{- include "feast-feature-server.labels" . | nindent 4 }}  
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.feast_mode }}
      protocol: TCP
      name: http
    - name: metrics
      port: 8000
      protocol: TCP
      targetPort: 8000  
  selector:
    {{- include "feast-feature-server.selectorLabels" . | nindent 4 }}
