import os
import re
import sys
import textwrap

output_logs_folder = sys.argv[1]

{% for step in steps %}
{% if step.output_regex_test %}

def test_{{step.name}}():
    with open(os.path.join(output_logs_folder, '{{loop.index}}')) as f:
        actual_output = f.read()
    output_regex_text = r"""
    {{step.output_regex_test }}
    """
    output_regex_text = textwrap.dedent(output_regex_text).strip()
    print_info(actual_output, output_regex_text)
    assert re.search(output_regex_text, actual_output)

{% endif %}
{% endfor %}

def print_info(actual_output, output_regex_text):
    print("Searching for regex match:")
    print('----')
    print(output_regex_text)
    print('----')
    print("Within:")
    print('----')
    print(actual_output)
    print('----')

def run_tests():
{% for step in steps %}
{% if step.output_regex_test %}
    test_{{step.name}}()
{% endif %}
{% endfor %}
    return

if __name__ == "__main__":
    run_tests()
