name: java_complete

on:
  push:
    paths:
      - 'sdk/java/**'
  pull_request:
    paths:
      - 'sdk/java/**'

jobs:
  lint-java:
    container: gcr.io/kf-feast/feast-ci:latest
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Lint java
        run: make lint-java

  unit-test-java:
    runs-on: ubuntu-latest
    needs: lint-java
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          java-package: jdk
          architecture: x64
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-ut-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-ut-maven-
      - name: Test java
        run: make test-java-with-coverage
      - uses: actions/upload-artifact@v2
        with:
          name: java-coverage-report
          path: ${{ github.workspace }}/docs/coverage/java/target/site/jacoco-aggregate/

  integration-test:
    runs-on: ubuntu-latest
    needs: unit-test-java
    services:
      redis:
        image: redis
        ports:
          - 6389:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          java-package: jdk
          architecture: x64
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-it-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-it-maven-
      - name: Run integration tests
        run:  make test-java-integration
      - name: Save report
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: it-report
          path: spark/ingestion/target/test-reports/TestSuite.txt
          retention-days: 5
