name: linter

on: [push, pull_request]

jobs:
  lint-python:
    runs-on: [ubuntu-latest]
    env:
      PYTHON: 3.11
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          architecture: x64
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install dependencies
        run: |
          make install-python-dependencies-ci
      - name: Cache MyPy
        uses: actions/cache@v4
        with:
          path: sdk/python/.mypy_cache
          key: mypy-${{ runner.os }}-py${{ env.PYTHON }}-${{ hashFiles('pyproject.toml', 'setup.py', 'sdk/python/pyproject.toml', 'sdk/python/requirements/*.txt') }}
          restore-keys: |
            mypy-${{ runner.os }}-py${{ env.PYTHON }}-
            mypy-${{ runner.os }}-
      - name: Lint python
        run: make lint-python
      - name: Minimize uv cache
        run: uv cache prune --ci
