name: linter

on: [push, pull_request]

jobs:
  lint-python:
    runs-on: [ubuntu-latest]
    env:
      PYTHON: 3.9
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          architecture: x64
          cache: 'pip'
      - name: Upgrade pip version
        run: |
          pip install --upgrade "pip>=21.3.1,<23.2"
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: |
          make install-python-ci-dependencies-uv
      - name: Lint python
        run: make lint-python
