name: master only

on:
  push:
    branches:
      - master
      - 'v*.*-branch'
    tags:
      - 'v*.*.*'

jobs:
  build-docker-images:
    runs-on: [self-hosted]
    strategy:
      matrix:
        component: [core, serving, jobservice, jupyter, ci]
    env:
      MAVEN_CACHE: gs://feast-templocation-kf-feast/.m2.2020-08-19.tar
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@v0
        with:
          version: '290.0.1'
          export_default_credentials: true
      - run: gcloud auth configure-docker --quiet
      - name: Get m2 cache
        run: |
          infra/scripts/download-maven-cache.sh \
          --archive-uri ${MAVEN_CACHE} \
          --output-dir .
      - name: Get version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build image
        run: make build-${{ matrix.component }}-docker REGISTRY=gcr.io/kf-feast VERSION=${GITHUB_SHA}
      - name: Push image
        run: make push-${{ matrix.component }}-docker REGISTRY=gcr.io/kf-feast VERSION=${GITHUB_SHA}
      - name: Push development Docker image
        run: |
          if [ ${GITHUB_REF#refs/*/} == "master" ]; then
            docker tag gcr.io/kf-feast/feast-${{ matrix.component }}:${GITHUB_SHA} gcr.io/kf-feast/feast-${{ matrix.component }}:develop
            docker push gcr.io/kf-feast/feast-${{ matrix.component }}:develop
          fi

  publish-ingestion-jar:
    runs-on: ubuntu-latest
    env:
      PUBLISH_BUCKET: feast-jobs
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@v0
        with:
          version: '290.0.1'
          export_default_credentials: true
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Publish develop version of ingestion job
        run: |
          if [ ${GITHUB_REF#refs/*/} == "master" ]; then
            make build-java-no-tests REVISION=develop
            gsutil cp ./spark/ingestion/target/feast-ingestion-spark-develop.jar gs://${PUBLISH_BUCKET}/spark/ingestion/
          fi
      - name: Get version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Publish tagged version of ingestion job
        run: |
          SEMVER_REGEX='^v[0-9]+\.[0-9]+\.[0-9]+(-([0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*))?$'
          if echo "${RELEASE_VERSION}" | grep -P "$SEMVER_REGEX" &>/dev/null ; then
            VERSION=${RELEASE_VERSION:1}
            make build-java-no-tests REVISION=${VERSION}
            gsutil cp ./spark/ingestion/target/feast-ingestion-spark-${VERSION}.jar gs://${PUBLISH_BUCKET}/spark/ingestion/
          fi

  publish-ingestion-pylibs:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        python-version: [ 3.6, 3.7, 3.8 ]
    env:
      PUBLISH_BUCKET: feast-jobs
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@v0
        with:
          version: '290.0.1'
          export_default_credentials: true
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Create libs archive
        env:
          PY_VERSION: ${{ matrix.python-version }}
        run: |
          export PLATFORM=$(python -c 'import platform; print(platform.system().lower())')
          ./infra/scripts/build-ingestion-py-dependencies.sh "py${PY_VERSION}-$PLATFORM" gs://${PUBLISH_BUCKET}/spark/validation/
