name: mirror

on:
  push:
    branches:
      - '**'

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: webfactory/ssh-agent@v0.4.0
        with:
          ssh-private-key: ${{ secrets.MIRROR_SSH_KEY }}
      - name: Mirror all origin branches and tags to internal repo
        run: |
          export GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
          git remote add internal ${{ secrets.INTERNAL_REPO }}
          git push internal --all -f
          git push internal --tags -f