name: publish

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch: # Allows manual trigger of the workflow
    inputs:
      custom_version: # Optional input for a custom version
        description: 'Custom version to publish (e.g., v1.2.3) -- only edit if you know what you are doing'
        required: false
        type: string
      token:
        description: 'Personal Access Token'
        required: true
        default: ""
        type: string

jobs:
  publish-python-sdk:
    uses: ./.github/workflows/publish_python_sdk.yml
    with:
      custom_version: ${{ github.event.inputs.custom_version }}
      token: ${{ github.event.inputs.token }}

  build-publish-docker-images:
    uses: ./.github/workflows/publish_images.yml
    needs: [ publish-python-sdk ]
    with:
      custom_version: ${{ github.event.inputs.custom_version }}
      token: ${{ github.event.inputs.token }}

  publish-helm-charts:
    uses: ./.github/workflows/publish_helm_charts.yml
    needs: [ publish-python-sdk ]
    with:
      custom_version: ${{ github.event.inputs.custom_version }}
      token: ${{ github.event.inputs.token }}

  publish-java-sdk:
    uses: ./.github/workflows/publish_java_sdk.yml
    needs: [ publish-python-sdk ]
    with:
      custom_version: ${{ github.event.inputs.custom_version }}
      token: ${{ github.event.inputs.token }}
