apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "feast-core.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "feast-core.name" . }}
    component: core
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "feast-core.name" . }}
      component: core
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "feast-core.name" . }}
        component: core
        release: {{ .Release.Name }}
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      volumes:
      - name: {{ template "feast-core.fullname" . }}-config
        configMap:
          name: {{ template "feast-core.fullname" . }}
      {{- if .Values.gcpServiceAccount.useExistingSecret }}
      - name: {{ template "feast-core.fullname" . }}-gcpserviceaccount
        secret:
          secretName: {{ .Values.gcpServiceAccount.existingSecret.name }}
      {{- end }}

      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        
        volumeMounts:
        - name: {{ template "feast-core.fullname" . }}-config
          mountPath: "{{ .Values.springConfigMountPath }}"
        {{- if .Values.gcpServiceAccount.useExistingSecret }}
        - name: {{ template "feast-core.fullname" . }}-gcpserviceaccount
          mountPath: {{ .Values.gcpServiceAccount.mountPath }}
          readOnly: true
        {{- end }}

        env:
        {{- if .Values.postgresql.enabled }}
        - name: SPRING_DATASOURCE_USERNAME
          value: {{ .Values.postgresql.postgresqlUsername }}
        - name: SPRING_DATASOURCE_PASSWORD
          value: {{ .Values.postgresql.postgresqlPassword }}
        {{- end }}

        {{- if .Values.gcpServiceAccount.useExistingSecret }}
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: {{ .Values.gcpServiceAccount.mountPath }}/{{ .Values.gcpServiceAccount.existingSecret.key }}
        {{- end }}

        command:
        - java
        {{- range .Values.jvmOptions }}
        - {{ . }}
        {{- end }}
        - -jar 
        - /opt/feast/feast-core.jar
        - "--spring.config.location=file:{{ .Values.springConfigMountPath }}/application.yaml"

        ports:
        - name: http
          containerPort: {{ .Values.service.http.targetPort }}
        - name: grpc 
          containerPort: {{ .Values.service.grpc.targetPort }}

        {{- if .Values.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.service.http.targetPort }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
        {{- end }}

        {{- if .Values.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.service.http.targetPort }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
        {{- end }}
        
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
